* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.header {
    background: #3e7e9c;
}

nav {
    display: flex;
}

h1 {
    color: red;
}